:root {
  --primary: bisque;
  --secondary: rgb(124, 123, 128);
  --tertiary: white;
  --quaternary:rgb(63, 116, 63);
 

}



* {
  text-decoration: none;
  margin:0;
  padding: 0;
  box-sizing: border-box;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color:var(--secondary);
  scroll-behavior: smooth;
  
}
/* Header & Nav Bar */

.header  {
  padding: 2%;
display: flex;
justify-content:space-between;
flex-wrap: wrap;
align-items:center;
background-color: var(--primary);
border-bottom-style:solid;
border-width: 10px;
border-color:var(--tertiary);

}


h1, h2, h3, h4 { 
  border-style:solid;
  border-width:3px;
  border-color:var(--tertiary);
  padding: 0.2% 7% 0.2% 7%;
  font-size:50px;
  text-decoration: underline var(--primary);
  font-family: 'Fugaz One', cursive;
  display:flex;

}

h1 {
  font-size: 75px;
}



nav a {
  margin: 8px;
  text-decoration: underline var(--tertiary);
  font-size: 30px;
  color:var(--secondary);
 
  font-family: 'Fugaz One', cursive;
  

}

nav a:hover{
  color: var(--quaternary);
  opacity: 0.75;
transition: opacity 1s;
  
}

.nav-active {

color: var(--quaternary);
}

/*banner*/
.banner{
  width: 100%;
  height: 40vh;
  margin-bottom: 25px;
  background-image: url("../images/banner.jpg");
  background-size: cover;
  background-position: center;
  border-top-style:solid;
  border-bottom-style:solid;
  border-width:7px;
  border-color:var(--primary);

}

/* Bio */
.article,section  {
  display:flex;
  flex-wrap:wrap;
  justify-content: center;
  
  
}


.article p {
  margin: 5%;
  line-height: 3vh;
  display: block;
}


/* Portfolio*/

.section h3 {
  max-height: 30vh;
 
}

.portfolio-container{
 width: 100%;
  display: flex;
  flex-wrap:wrap;
  justify-content: center;
  margin: 0px 80px 10% 10px;
  
 
}

#polaroid {
  
  display: flex;
  flex-wrap:wrap;
  justify-content: center;
  margin: 2% 35% 0px 34%;
  
 
}

h5 {
  font-size: 25px;
  color:var(--secondary);
  padding-right: 25px;
 font-family: 'Fugaz One', cursive;
 display: block;
 
}


/*Project styling */
.view {
  width: 300px;
  height: 200px;
  margin: 10px;
  
  border: 6px solid var(--primary);
  overflow: hidden;
  position: relative;
  text-align: center;
  box-shadow: 1px 1px 2px #e6e6e6;
  cursor: default;
  
}
.view .mask, .view .content {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0
}
.view img {
  display: inline;
  position: relative
}
.view h5 {
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  position: relative;
  font-size: 17px;
  padding: 10px;
  background: var(--quaternary);
  margin: 20px 0 0 0
}
.view p {
  font-family: Georgia, serif;
  font-style: italic;
  font-size: 12px;
  position: relative;
  color: #fff;
  padding: 10px 20px 20px;
  text-align: center
}


/* Project hover animation */

.view-first .mask {
  opacity: 0;
  background-color: var(--secondary); 
  transition: all 0.4s ease-in-out;
}
.view-first h2 {
  transform: translateY(-100px);
  opacity: 0;
  transition: all 0.2s ease-in-out;
}
.view-first p { 
  transform: translateY(100px);
  opacity: 0;
transition: all 0.2s linear;
}
.view-first a.info{
  opacity: 0;
transition: all 0.2s ease-in-out;
}

.view-first:hover img { 
	transform: scale(1.1);
} 
.view-first:hover .mask { 
	opacity: 1;
}
.view-first:hover h2,
.view-first:hover p,
.view-first:hover a.info {
    opacity: 1;
    transform: translateY(0px);
}
.view-first:hover p {
    transition-delay: 0.1s;
}

/*Portfolio images*/
.atmos {
  background-image: url("../images/Atmos.png");

}

.book {
  background-image: url("../images/book.jpg");

}

.weather {
  background-image: url("../images/weather.png");

}

.travlr {
  background-image: url("../images/travlr.jpg");

}

.profile {
  background-image: url("../images/profile.png");
 

}

.fitness{
  background-image: url("../images/fitness.jpg");
 

}

/*Footer */
.footer {
  display: flex;
  justify-content:space-around;
  align-items:flex-end;
  background-color:var(--primary);
 padding: 25px;
  

}

.footer a { 
  position: relative;

  padding:30px;
  
}

.footer a:hover {
  opacity: 0.75;
  transition: 1s;
}

/*Contact form styling */
.form {
 margin:20px;
 margin-left: 15%;
  
}

.form input {
  display: block;
  margin-top: 18px;
  margin-bottom: 18px;
  width: 55%;
}

/* Media Queries */

@media screen and (max-width: 1250px) {

  .box {
      width: 48%;
      height: 300px;
     
  }
   .box:first-child {
      width: 100%;
      
  }
  .footer a { 
    position: relative;
  
    padding:30px;
    
  }

  
 
}

@media screen and (max-width: 1150px) {
  .header, #skills{
      flex-wrap:wrap;
          justify-content: center;
          align-items: center;
          
      
  }
}

@media screen and (max-width: 1100px) {
  .header{
      flex-wrap:wrap;
          justify-content: center;
          align-items: center;
          
      
  }

  .article{
      flex-wrap:wrap;
      justify-content: center;
      align-items: center;        
  
}

.section {
      flex-wrap:wrap;
      justify-content: center;
      align-items: center;
}

.portfolio-container {
  position:relative;
  left: 35px;
}
.box {
  width: 40%;
  
  
}

.box:first-child{
  width:80%;
}
.footer {
  flex-wrap:wrap;
  justify-content:center;
  align-items: center;
}

.footer a {
  position:relative;
  top: 10px;
  padding: 25px;
}

@media screen and (max-width: 768px) {

  .box, .box:first-child {
      width: 100%;
      height: 400px;
  }
  .footer a { 
    position: relative;
  
    padding:18px;
    
  }
}}